/* BACKGROUND */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #f7f7fa;
}

.page-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #1a1625, #0d0c12);
    z-index: -1;
}

/* LOGIN CARD */
.card-container {
    width: 1250px;
    height: 680px;
    background: #1e1b28;
    border-radius: 32px;
    display: flex;
    margin: 40px auto;
    box-shadow: 0px 22px 45px rgba(0,0,0,0.55);
    overflow: hidden;
}

/* LEFT PANEL */
.left-panel {
    width: 50%;
    position: relative;
}

.left-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* RIGHT PANEL */
.right-panel {
    width: 50%;
    padding: 70px;
    color: #fff;
}

.right-panel h1 {
    font-size: 34px;
    margin-bottom: 6px;
}

.login-link {
    font-size: 15px;
    color: #b9b8c9;
    margin-bottom: 30px;
}

.login-link a {
    color: #8f81ff;
    text-decoration: none;
}

/* FORM INPUTS */
.right-panel input {
    background: #2b2638;
    border: 1px solid #3a3347;
    border-radius: 8px;
    padding: 14px;
    width: 100%;
    font-size: 15px;
    color: #e6e6f0;
    margin-top: 14px;
}

.terms {
    margin-top: 12px;
    font-size: 14px;
    color: #b3adc7;
}

/* BUTTON */
.primary-btn {
    width: 100%;
    background: #836fff;
    border: none;
    padding: 14px;
    border-radius: 8px;
    color: #fff;
    margin-top: 18px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.primary-btn:hover {
    background: #7a63ff;
}

/* DIVIDER */
.divider {
    text-align: center;
    color: #88829c;
    margin: 22px 0;
    font-size: 14px;
}

/* SOCIAL BUTTONS */
.social-row {
    display: flex;
    gap: 10px;
}

.oauth-btn {
    width: 50%;
    padding: 12px;
    border-radius: 8px;
    background: #2b2638;
    border: 1px solid #3a3347;
    color: #e6e6f0;
    cursor: pointer;
}

.oauth-btn {
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.oauth-btn:hover {
    background: #352f45;
}

.forgot {
    margin-top: 18px;
    text-align: center;
}

.forgot a {
    color: #8f81ff;
    text-decoration: none;
}
.error-text {
    background: rgba(255, 80, 80, 0.18);
    color: #ff6b6b;
    padding: 10px 14px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: left;
}

#boroughMap {
    width: 100%;
    max-width: 800px; 
    height: 500px; 
    display: block !important;
    background: #eaeaea;
    margin: 0 auto;
  }
  